# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Output files
output/
out.mp4
*.mp3
*.wav

# Spotify cache
.cache
.spotify_caches/

# Temp files
temp_*
