streamlit
spotipy
spotdl
yt-dlp
python-dotenv
ffmpeg-python
librosa
numpy
scipy
demucs
diffq
faster-whisper
huggingface_hub>=0.23.0
transformers
fastapi
uvicorn[standard]
jinja2
python-multipart
requests
audio-separator[cpu]
